 @import '../../styles/global.scss';

 $max-width:800px;

 .modalContainer{
    // width:30%;
    max-width: $max-width;
    // margin: 100px 70px 80px 345px;
}
 

.modalClass{
    max-width: $max-width;
    margin: 100px 100px 100px 500px;
    outline:none;
    border:1px solid gray;
    background-color: $background-secondary;
    padding: $padding-default +20px;
    border-radius: $border-radius;
    position: fixed;
    align-items: center;
    overflow: hidden;

    @media (max-width: 500px){
        margin: 100px 5px 30px;
        width: 95%;
        max-width: 80%;
    }    
}

.closeButtonClass{
    border:none;
    background-color:$background-secondary;
    cursor:pointer;
    position:absolute;
    top:0px;
    right:2px;
}
    
.imageDescriptionClass{
    font-size: $font-size-normal;
    text-align: center;
}

.imageClass{

    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: $border-radius;

    @media(max-width: 500px)
    {
        max-width: 100%;
    }
}
