$background-primary: #1a1a1a;
$background-secondary: #E1DADA;
$background-success: green; 
$background-error: #d83933; 

$text-primary: white;
$text-secondary: #1A1A1A;
$text-highlight: #F08D3D;
$text-success: white;
$text-error: white;

$border-radius:16px;
$padding-default:16px;
$padding-small:8px;
$padding-large:24px;
$desktop-min-width: 1024px;

$font-size-normal: 1rem;
$font-size-heading: 2.5rem;
$font-family: "Futura","Arial",sans-serif
