@import '../../styles/global.scss';

.footer {
  display: block;
  background-color: $background-secondary;
  color: $text-secondary;
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
  overflow: hidden;
  width: 100%;
  $font-size-normal: 1rem;
  $font-family: "Futura","Arial",sans-serif;
}
  
 