*{
    background-color:  black;
    color: white;
    list-style-type: none;
    text-decoration: none;
    padding: 0px;
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 
ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width:100%

}
li{
    
    display:flex;
    align-items: center;
    width:45%;
    
}
img{
   display: flex;
   width: 30%;
   height: auto;
   justify-self: center;
}

p{  display: flex;
    justify-self: center;
}
